
slider-mobile-content/*reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}

			html,body{
				scroll-behavior: smooth;
			}
			.clearfix:after{
				content:"";
				clear: both;
				display: block;
			}
			label{
				cursor: pointer;
			}


/*main container*/
			.body{
				font-family: "Open Sans";
				overflow: hidden;
				}
			.wrapper{
				margin: 0 auto;
				max-width: 1170px;
				position: relative;
				z-index: 5;
			}
			.container {
				margin: 0 auto;
				width: 100%;
				max-width: 960px;
				padding: 0 15px;
				}
/*header*/	
			.header{
				position: sticky;
				top:0;
				background: #ffffff;
				z-index: 10;
			}
			.clearfix { 
				clear: both; 
			}
			.mainlogo{
				float: left;
				padding-top: 33px;
			}
			.header-menu{
				float: right;
				display: flex;
				width: 588px;
				justify-content: space-between;
				flex-wrap: wrap;

			}
			.header-menu>li{
				box-sizing: border-box;
				padding-top: 44px;
				width: 85px;
				height: 98px;
			}
			.header-menu>li>a{
				text-align: center;
				text-decoration: none;
				color: #484c55;
				font-size: 15px;
				line-height: 24px;
				display: block;
			}
			.header-menu>li:hover{
				color: #49cbcd;
				background-color: #f8f9fb;
				border-bottom:3px solid #49cbcd;
			}
			.nav-toggle {
				display: none;
				position: relative;
				float: right;
				width: 40px;
				height: 40px;
				margin-left: 20px;
				background: #49cbcd;
				cursor: pointer;
				}
			.nav-toggle:hover{
				background: #49cbcd99;
				transition: all 0.3s;
			}
			.nav-toggle span {
				display: block;
				position: absolute;
				top: 19px;
				left: 8px;
				right: 8px;
				height: 2px;
				background: white;
				}
			.nav-toggle span:before, .nav-toggle span:after {
				content: "";
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 2px;
				background: white;
				}
			.nav-toggle span:before {
				top: -10px;
			}
			.nav-toggle span:after {
				bottom: -10px;
			}
			#menu.active {
				max-height: 123px;
			}
/*slider*/	
			.slider{
				position: relative;
				height: 566px;
				color: #ffffff;
				text-align: center;
			}
			.slider-img{
				position: absolute;
				height: 566px;
				top: 0;
				left: 0;
				background: #44c0c2;
			}
			.slider-img .owl-item img{
				width: 100%;
				height: 566px;
			}
			.slider-img>.owl-dots{
				display: none;
			}
			.slider-img>.owl-nav>button:first-child{
				position: absolute;
				width: 51px;
				height: 51px;
				border-radius: 50%;
				border:2px solid #ffffff;
				background: #fefefe;
				font-size: 43px;
				color: #49cbcd;
				top: 247px;
				left: 28px;
				cursor: pointer;

			}
			.slider-img>.owl-nav>.owl-prev:before{
				content: "";
				position: absolute;
				top: 13px;
				left: 18px;
				height: 20px;
				width: 20px;
				border-left: 1px solid #49cbcd;
				border-bottom: 1px solid #49cbcd;
				transform: rotate(45deg);
			}
			.slider-img>.owl-nav>button:last-child{
				position: absolute;
				width: 51px;
				height: 51px;
				border-radius: 50%;
				border:2px solid #ffffff;
				background: #fefefe;
				font-size: 43px;
				color: #49cbcd;
				top: 247px;
				right: 28px;
				cursor: pointer;
			}
			.slider-img>.owl-nav>button:hover{
				border:2px solid #ffffff99;
				background: #fefefe99;
				transition: all 0.3s;
			}
			.slider-img>.owl-nav>.owl-next:before{
				content: "";
				position: absolute;
				top: 13px;
				left: 9px;
				height: 20px;
				width: 20px;
				border-right: 1px solid #49cbcd;
				border-bottom: 1px solid #49cbcd;
				transform: rotate(-45deg);
			}
			button:active, button:focus {
			  outline: none;
			}
			.slider-header{
				font-size: 63px;
				padding-top: 139px;
				padding-bottom: 30px;
			}
	
			.slider-content{
				width: 375px;
				height: 71px;
				overflow: hidden;
				margin: 0 auto;
				font-size: 23px;
				line-height: 1.61;
			}
			.slider-button{
				display: block;
				box-sizing: border-box;
				margin: 0 auto;
				padding: 22px 36px 22px 42px;
				width: 235px;
				height: 73px;
				border: 3px solid #ffffff;
				font-weight: 600;
				font-size: 26px;
				letter-spacing: 0.52px;
				color: #ffffff;
				border-radius: 10px;
  				text-decoration: none;
  				margin-top: 60px;
  				line-height: 0.92;
			}
			.slider-button:hover{
				border: 3px solid #ffffff99;
				color: #ffffff99;
				transition: all 0.3s;
			}
/*info about site (4 blocks)*/
			.specializationBlock{
				display: flex;
				justify-content: space-between;
				padding-bottom: 100px;
				padding-top: 110px;
				color: #4e525d;
			}
			.specializationBlock-item{
				width: 247px;

			}
			.specializationBlock-item-icon{
				width: 99px;
				height: 99px;
				border: 3px solid #49cbcd;
				border-radius: 50%;
				margin:0 auto;
				font-size: 43px;
				color: #49cbcd;
			}
			.specializationBlock-item-icon>i{
				margin-top:30px;
				margin-left: 35px;

			}
			.iconRocket>i{
				margin-left: 30px;
			}
			.iconDesktop>i{
				margin-left: 28px;
			}
			.specializationBlock-item-header{
				font-size: 22px;
				line-height: 24px;
				text-align: center;
				margin-bottom: 24px;
				margin-top: 50px;
			}
			.specializationBlock-item-content{
				text-align: center;
				max-height: 70px;
				overflow: hidden;
				font-size: 14px;
				line-height: 26px;
			}
			.specializationBlock-item>a{
				margin: 0 auto;
				width: 97px;
				height: 30px;
				background: #49cbcd;
				color: #ffffff;
				font-size: 14px;
				line-height: 26px;	
				text-decoration: none;
				display: block;
				border: 1px solid #49cbcd;
				border-radius: 5px;
				text-align: center;
				margin-top: 20px;
			}
			.specializationBlock-item>a:hover{
				background: #49cbcd99;
				border: 1px solid #49cbcd99;
				transition: all 0.3s;
			}
/*gallery*/
			.sectionWindow{
				background: #f1f1f1;
			}
			.gallery{
				font-family: "Open Sans";
				padding-top: 51px;
				padding-bottom: 103px;
			}
			.gallery-title{
				font-size: 42px;
				text-align: center;
				margin-bottom: 64px;
				color: #4e525d;
			}
			.gallery-portfolio{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				
			}
			.gallery-portfolio>img{
				margin-bottom: 30px;

			}
			.gallery-portfolio-button{
				display: block;
				text-align: center;
				width: 232px;
				height: 63px;
				margin: 39px auto;
				background: #49cbcd;
				color: #ffffff;
				font-size: 24px;
				text-decoration: none;
				padding-top: 20px;
				box-sizing: border-box;
				border: 1px solid #49cbcd;
				border-radius: 3px;
			}
			.gallery-portfolio-button:hover{
				border: 1px solid #49cbcd99;
				background: #49cbcd99;
				transition: all 0.3s;
			}
/*The Team*/
			.teamSection{
				margin-top: 107px;
				margin-bottom: 107px;
			}
			.teamSection>h2{
				font-size: 42px;
				color: #4e525d;
				margin-bottom: 140px;
				text-align: center;
			}
			.teamSection>ul{
				display: flex;
				justify-content: space-between;
			}
			.teamSection-circle{
				width: 201px;
				height: 201px;
				background-color: #eeeef0;
				border:1px solid #eeeef0;
				border-radius: 50%;
				box-sizing: border-box;
				margin-bottom: 70px;
				text-align: center;
				margin: 0 auto;
				cursor: pointer;
			}
			.teamSection-activCircle{
				font-size: 85px;
				font-weight: 700;
				padding-top: 55px;
				color: #f46d6d;
			}
			.teamSection-members{
				width: 247px;
			}
			.teamSection-employeeName{
				font-size: 22px;
				text-align: center;
				color: #4e525d;
				margin-bottom: 23px;
				margin-top: 50px;
			}
			.teamSection-members>p{
				font-size: 14px;
				color: #4e525d;
				text-align: center;
				line-height: 26px;
			}
			.teamSection-content{
				margin-top: 30px;
				height: 75px;
				overflow: hidden;
			}
			.teamSection>.team-block-mobile{
				display: none;
			}
/*section products*/
			.productsCatalog{
				padding-top: 118px;
				padding-bottom: 100px;
				display: flex;
				justify-content: space-between;
			}
			.product{
				width: 370px;
				background: #485460;
			}
			.product>h2{
				height: 76px;
				color: #ffffff;
				font-size: 26px;
				line-height: 48px;
				text-align: center;
				padding-top: 14px;
				box-sizing: border-box;
				background: #485460;
			}
			.product>p{
				background: #f8f9fb;
				font-size: 20px;
				font-weight: 400;
				color: #485460;
				text-align: center;
				min-height: 70px;
				box-sizing: border-box;
				padding-top: 25px;
			}
			.subscriptionList>li{
				height: 45px;
				color: #8c9299;
				font-size: 14px;
				text-align: center;
				padding-top: 20px;
				background: #ffffff;
				border-top: 1px solid #ecf0f1;
				box-sizing: border-box;
			}
			.subscriptionButton{
  				min-height: 100px;
  				border: 1px solid #ecf0f1;
				background-color: #ffffff;
				background: #f8f9fb;
  			}
  			.subscriptionButton>button{
  				width: 170px;
				height: 40px;
				background-color: #788492;
				text-align: center;
				border:1px solid #788492;
				border-radius: 5px;
				font-size: 17px;
				color: #ffffff;
				margin-left: 100px;
				margin-top: 30px;
				cursor:pointer;
  			}
  			.product:hover h2{
  				background: #49cbcd;
  				transition: all 0.3s;
  			}
  			.product:hover .subscriptionButton>button{
  				background: #49cbcd;
  				border-color: #49cbcd;
  				transition: all 0.3s;
  			}
 /*reviews section*/
  			.reviews{
  				padding-top: 145px;
  				padding-bottom: 100px;
  				color: #4e525d;
  				text-align: center;
  			}
  			.someReview>.owl-nav>button:last-child{
  				position: absolute;
				top: 50px;
				right: 0;
				cursor: pointer;
				height: 18px;
				width: 18px;
				transform: rotate(-45deg);
				border-right: 2px solid #8c8c8c;
				border-bottom: 2px solid #8c8c8c;
  			}
  			.someReview>.owl-nav>button:first-child{
  				position: absolute;
				top: 50px;
				left: 0;
				height: 18px;
				width: 18px;
				transform: rotate(45deg);
				border-left: 2px solid #8c8c8c;
				border-bottom: 2px solid #8c8c8c;
				cursor: pointer;
  			}
  			.someReview>.owl-nav>button:hover{
  				border-color: #000;
  				transition: all 0.3s;
  			}
  			.textReviews{
  				width: 645px;
  				font-size: 19px;
  				line-height: 30px;
  				margin: 0 auto;
  				margin-top: 40px;
  				margin-bottom: 40px;
  			}
  			.reviewsItem{
  				font-size: 42px;
  			}
  			.reviewAuthor{
  				color: #9a8faf;
				font-size: 21px;
				display: block;
				text-align: center;
				margin-top: 40px;
  			}
/*footer*/
			footer{
				background: #1b1b1b;
				background-image: url("../img/footer.png");
				height: 691px;
				text-align: center;
				color: #ffffff;
				background-size: cover;
				margin:0 auto;
				z-index: -1;
			}
			.footerContainer{
				padding-top: 105px;
			}
			.footerHeader{
				text-align: center;
				font-size: 42px;
				margin-bottom: 116px;
			}
			.contacts{
				float: left;
				width: 440px;
				text-align: left;
			}
			.contactsForm{
				float: right;
				width: 570px;
			}
			.contacts>h3{
				font-size: 24px;
			}
			.contaxtText{
				opacity: 0.5;
				font-size: 14px;
				line-height: 21px;
				margin-top: 15px;
				margin-bottom: 40px;
			}
			.contactsList{
				margin-bottom: 20px;

			}
			.contactsList>li{
				position: relative;
				display: inline-block;
				margin-right: 13px;
				width: 42px;
				height: 42px;
				border:1px solid rgba(0,0,0,0.3);
				border-radius: 50%;
			}
			.facebook{
				background: #3b5997;
			}
			.facebook:hover{
				background: #1b399799;
				transition: all 0.3s;
			}
			.twitter{
				background: #3ec2f3;
			}
			.twitter:hover{
				background: #AFEEEE;
				transition: all 0.3s;

			}
			.google{
				background: #e44c41;
			}
			.google:hover{
				background: #DC143C	;
				transition: all 0.3s;
			}
			.socLink{
				position: absolute;
				top:10px;
				left: 13px;
				color: #ffffff;
				font-size: 23px;

			}
			.googleLink{
				position: absolute;
				top:10px;
				left: 10px;
				color: #ffffff;
				font-size: 23px;
			}
			.contactsInfo>a{
				color: #bface2;
				text-decoration: none;
				font-size: 14px;
			}
			.contactsInfo>a:hover{
				color: #bface299;
				transition: all 0.3s;
			}
			.contactsInfo{
				margin-bottom: 13px;
			}
			.form{
				color: #c1c1c1;
				font-size: 16px;
			}
			.inputName{
				float: left;
				width: 270px;
				padding-left: 20px;
				box-sizing: border-box;
				padding-top: 14px;
				padding-bottom: 14px;
				border: 1px solid #ffffff;
				border-radius: 2px;
			}
			.emailForm{
				float: right;
				width: 270px;
				box-sizing: border-box;
				padding: 14px 20px 14px 20px;
				border: 1px solid #ffffff;
				border-radius: 2px;
			}
			.sendSmS{
				width: 570px;
				padding-left: 20px;
				box-sizing: border-box;
				margin-top: 30px;
				margin-bottom: 30px;
				min-height: 179px;
				padding-top: 20px;
				border: 1px solid #ffffff;
				border-radius: 2px;
			}
			.inputName:focus {
			  outline: none;
			}
			.emailForm:focus {
			  outline: none;
			}
			.sendSmS:focus {
			  outline: none;
			}
			.formSubmit:focus{
				outline: none;

			}
			::-webkit-input-placeholder {color: #c1c1c1;font-size: 16px; font-family: "Open Sans";}
			::-moz-placeholder          {color: #c1c1c1;font-size: 16px; font-family: "Open Sans";}/* Firefox 19+ */
			:-moz-placeholder           {color: #c1c1c1;font-size: 16px; font-family: "Open Sans";}/* Firefox 18- */
			:-ms-input-placeholder      {color: #c1c1c1;font-size: 16px; font-family: "Open Sans";}

			.formSubmit{
				width: 170px;
				height: 50px;
				background-color: #49cbcd;
				border: 1px solid #49cbcd;
				border-radius: 2px;
				float: right;
				font-size: 22px;
				color: #ffffff;
				font-family: "Open Sans";
				cursor:pointer;
			}
			.formSubmit:hover{
				border-color: #00FFFF;
				background: #00FFFF;
				transition: all 0.3s;
				
			}
			@media (max-width: 1024px){
			.product{
				width: 45%;
			}

			}
			@media (max-width: 768px) {
			/* показываем кнопку для переключения верхней навигации */
			.nav-toggle {
				display: block;
			}
			footer{
				padding: 0 10px 0 10px;
			}
			.mainlogo{
				margin-left: 10px;
			}
			#menu {
				width: 100%;
				max-height: 0;
				background: white;
				float: none;
				position: absolute;
				overflow: hidden;
				top: 40px;
				right: 0;
				left: 0;
				margin: 0;
				padding: 0;
				z-index: 3;
			}
			#menu li {
				display: block;
				width: 16%;
			}
			.mainlogo{
				padding-top: 0;
			}
			.slider>.slider-img {
				display: none;
			}
			.slider{
				height: auto;
			}
			.slider-header{
				padding-top: 30px;
				padding-bottom: 10px;
				font-size: 30px;
				
			}
			.specializationBlock{
				flex-wrap: wrap;
				padding-bottom: 20px;
				padding-top: 20px;
				padding: 20px 10px 20px 10px;
			}
			.specializationBlock-item{
				margin-top: 20px;
				width:45%;
			}
			.specializationBlock-item-header{
				margin-top: 20px;
				margin-bottom: 10px;
			}
			.slider-mobile-content{
				color: #4e525d;
			}
			.slider-content{
				font-size: 16px;
			}
			.slider-button{
				color: #49cbcd;
				border: 3px solid #49cbcd; 
				margin-top: 15px;
				padding: 12px 18px 12px 21px;
				width: 180px;
				height: 50px;
				font-size: 20px;
			}
			.slider-button:hover{
				border-color: #49cbcd44; 
				background: #49cbcd44;
				color: #fff;
			}
			.gallery{
				padding-bottom: 20px;
			}
			.gallery-portfolio>img{
				max-width: 100%;
				height: auto;
				margin: auto;
				margin-bottom: 10px;
			}
			.gallery-title{
				margin-bottom: 30px;
			}
			.teamSection>ul{
				flex-wrap:wrap;
				padding-left: 10px;
				padding-right: 10px;
			}
			.productsCatalog{
				flex-wrap:wrap;
				justify-content: center;
				padding: 30px 10px 30px 10px;
			}
			.product{
				margin-bottom: 20px;
				margin-left: 10px;
				width: 100%;
			}
			.teamSection>h2{
				margin-bottom: 40px;
			}
			.teamSection-members{
				width:45%;
				margin-bottom: 20px;
			}
			.teamSection-circle{
				margin-bottom: 30px;
			}
			.teamSection-content{
				margin-top: 15px;
			}
			.teamSection {
			    margin-top: 30px;
			    margin-bottom: 30px;
			}
			.team-block-mobile{
				display: none;
			}
			.textReviews{
				width: auto;
			}
			.reviews{
				padding: 50px 10px 50px 10px;
			}
			.someReview>.owl-nav>button:last-child{
  				display: none;
  			}
  			.someReview>.owl-nav>button:first-child{
  				display: none;
  			}
  			.someReview>.owl-dots>.owl-dot{
  				background: #ffffff;
  				width: 15px;
  				height: 15px;
  				border: 1px solid #49cbcd;
  				border-radius: 50%; 
  				margin-right: 10px;
  			}
  			.someReview>.owl-dots>.active{
  				background: #49cbcd;
  				width: 20px;
  				height: 20px;
  				border: 1px solid #49cbcd;
  				border-radius: 50%; 
  				margin-right: 10px;
  			}
  			.footerContainer{
  				padding-top: 30px;

  			}
  			.footerHeader{
  				margin-bottom: 30px;
  			}
  			.contactsList{
  				float: right;
  				width: 200px;
  			}
  			.contacts{
  				width: 100%;
  			}
  			.contacts>div{
  				width: 200px;
  			}
  			.contactsForm{
  				width: 100%;
  			}
  			.inputName{
  				width: 45%;
  			}
  			.sendSmS{
  				width: 100%;
  			}
  			.emailForm{
  				width: 45%;
  				padding: 14px 10px 14px 10px;
  			}
  			.teamSection>.team-block-mobile{
				display: block;
				justify-content: center;
			}
			.teamSection>.team-block-mobile{
				display: none;
			}
}
			@media (max-width: 480px) {
				
			.teamSection-circle{
				width: 150px;
				height: 150px;
				padding-top: 30px;
			}
			.teamSection>ul{
				display: none;
			}
			.contacts{
				width: auto;
			}
			.inputName{
  				width: 45%;
  				padding: 5px 5px 5px 5px;
  			}
  			.emailForm{
  				padding: 5px 5px 5px 5px;
  				width: 45%;
  			}
  			.footerHeader{
  				margin-bottom: 10px;
  				font-size: 30px
  			}
  			.contacts>h3{
  				font-size: 20px;
  			}
  			.contaxtText {
			    font-size: 14px;
			    line-height: 20px;
			    margin-top: 5px;
			    margin-bottom: 20px;
			}
			.contacts>div {
    			width: 50%;
			}
			.contactsList {
			    float: right;
			    width: 50%;
			}
			.contactsList>li {
		    	margin-right: 5px;
			}
}


